## Challenge (Modelling)

In [3]:
# Libraries for path management and data analysis
import os
import pandas as pd

In [4]:
# Going to the rrot of the project
os.chdir('..')

In [5]:
data = pd.read_csv('data/application_info.csv')

/tmp/ipykernel_23082/851070366.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/application_info.csv')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 98 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 307511 non-null  int64
 1   id                         307511 non-null  int64
 2   default                    307511 non-null  int64
 3   contract_type              307511 non-null  object
 4   gender                     307511 non-null  object
 5   flag_vehicle               307511 non-null  object
 6   flag_properties            307511 non-null  object
 7   num_children               307511 non-null  int64
 8   total_income               307511 non-null  object
 9   loan_amount                307511 non-null  object
 10  anual_payment              307499 non-null  object
 11  product_amount             307233 non-null  object
 12  accompained                306219 non-null  object
 13  income_type                307511 non-null  object
 14  education                  0 non-null       float64
 15  marital_status             307511 non-null  object
 16  residence_type             0 non-null       float64
 17  normalised_pop             307511 non-null  object
 18  age                        307511 non-null  int64
 19  work_age                   307511 non-null  int64
 20  registry_age               307511 non-null  object
 21  id_age                     307511 non-null  int64
 22  vehicle_age                104582 non-null  float64
 23  flag_cellphone             307511 non-null  int64
 24  flag_work_phone            307511 non-null  int64
 25  flag_work_company          307511 non-null  int64
 26  flag_cellphone_answer      307511 non-null  int64
 27  flag_homephone             307511 non-null  int64
 28  flag_email                 307511 non-null  int64
 29  occupation                 211120 non-null  object
 30  family_num                 307509 non-null  float64
 31  region_score               307511 non-null  int64
 32  region_city_score          307511 non-null  int64
 33  dayofweek_application      307511 non-null  object
 34  hour_application           307511 non-null  int64
 35  flag_direperm_direcon_reg  307511 non-null  int64
 36  flag_direperm_diretra_reg  307511 non-null  int64
 37  flag_direcon_diretra_reg   307511 non-null  int64
 38  flag_direperm_direcon_ciu  307511 non-null  int64
 39  flag_direperm_diretra_ciu  307511 non-null  int64
 40  flag_direcon_diretra_ciu   307511 non-null  int64
 41  type_organisation          307511 non-null  object
 42  external_score_1           134133 non-null  object
 43  external_score_2           306851 non-null  object
 44  external_score_3           246546 non-null  object
 45  num_apart_average          151450 non-null  object
 46  area_basement_average      127568 non-null  object
 47  age_expl_average           157504 non-null  object
 48  age_building_average       103023 non-null  object
 49  area_common_average        92646 non-null   object
 50  num_lifts_average          143620 non-null  object
 51  num_entries_average        152683 non-null  object
 52  max_floor_average          154491 non-null  object
 53  min_floor_average          98869 non-null   object
 54  area_building_average      124921 non-null  object
 55  num_apart_habit_average    97312 non-null   object
 56  area_habit_average         153161 non-null  object
 57  num_apart_nohabit_average  93997 non-null   object
 58  area_nohabit_average       137829 non-null  object
 59  num_apart_mode             151450 non-null  object
 60  area_basement_mode         127568 non-null  object
 61  age_expl_mode              157504 non-null  object
 62  age_building_mode          103023 non-null  object
 63  area_common_mode           92646 non-null   object
 64  num_lifts_mode             143620 non-null  object
 65  num_entries_mode           152683 non-null  object
 66  max_floor_mode             154491 non-null  object
 67  min_floor_mode             98869 non-null   object
 68  area_building_mode         124921 non-null  object
 69  num_apart_habit_mode       97312 non-null   object
 70  area_habit_mode            153161 non-null  object
 71  num_apart_nohabit_mode     93997 non-null   object
 72  area_nohabit_mode          137829 non-null  object
 73  num_apart_median           151450 non-null  object
 74  area_basement_median       127568 non-null  object
 75  age_expl_median            157504 non-null  object
 76  age_building_median        103023 non-null  object
 77  area_common_median         92646 non-null   object
 78  num_lifts_median           143620 non-null  object
 79  num_entries_median         152683 non-null  object
 80  max_floor_median           154491 non-null  object
 81  min_floor_median           98869 non-null   object
 82  area_building_median       124921 non-null  object
 83  num_apart_habit_median     97312 non-null   object
 84  area_habit_median          153161 non-null  object
 85  num_apart_nohabit_median   93997 non-null   object
 86  area_nohabit_median        137829 non-null  object
 87  type_building              153214 non-null  object
 88  total_area                 159080 non-null  object
 89  wall_materials             151170 non-null  object
 90  emergency_exits            161756 non-null  object
 91  age_mobilephone_days       307510 non-null  float64
 92  num_petic_bureau_hour      265992 non-null  float64
 93  num_petic_bureau_day       265992 non-null  float64
 94  num_petic_bureau_week      265992 non-null  float64
 95  num_petic_bureau_month     265992 non-null  float64
 96  num_petic_bureau_quarter   265992 non-null  float64
 97  num_petic_bureau_year      265992 non-null  float64
dtypes: float64(11), int64(22), object(65)
memory usage: 229.9+ MB

In [7]:
o_col = data.columns
features = list(o_col)
features

['Unnamed: 0',
 'id',
 'default',
 'contract_type',
 'gender',
 'flag_vehicle',
 'flag_properties',
 'num_children',
 'total_income',
 'loan_amount',
 'anual_payment',
 'product_amount',
 'accompained',
 'income_type',
 'education',
 'marital_status',
 'residence_type',
 'normalised_pop',
 'age',
 'work_age',
 'registry_age',
 'id_age',
 'vehicle_age',
 'flag_cellphone',
 'flag_work_phone',
 'flag_work_company',
 'flag_cellphone_answer',
 'flag_homephone',
 'flag_email',
 'occupation',
 'family_num',
 'region_score',
 'region_city_score',
 'dayofweek_application',
 'hour_application',
 'flag_direperm_direcon_reg',
 'flag_direperm_diretra_reg',
 'flag_direcon_diretra_reg',
 'flag_direperm_direcon_ciu',
 'flag_direperm_diretra_ciu',
 'flag_direcon_diretra_ciu',
 'type_organisation',
 'external_score_1',
 'external_score_2',
 'external_score_3',
 'num_apart_average',
 'area_basement_average',
 'age_expl_average',
 'age_building_average',
 'area_common_average',
 'num_lifts_average',
 'num_entries_average',
 'max_floor_average',
 'min_floor_average',
 'area_building_average',
 'num_apart_habit_average',
 'area_habit_average',
 'num_apart_nohabit_average',
 'area_nohabit_average',
 'num_apart_mode',
 'area_basement_mode',
 'age_expl_mode',
 'age_building_mode',
 'area_common_mode',
 'num_lifts_mode',
 'num_entries_mode',
 'max_floor_mode',
 'min_floor_mode',
 'area_building_mode',
 'num_apart_habit_mode',
 'area_habit_mode',
 'num_apart_nohabit_mode',
 'area_nohabit_mode',
 'num_apart_median',
 'area_basement_median',
 'age_expl_median',
 'age_building_median',
 'area_common_median',
 'num_lifts_median',
 'num_entries_median',
 'max_floor_median',
 'min_floor_median',
 'area_building_median',
 'num_apart_habit_median',
 'area_habit_median',
 'num_apart_nohabit_median',
 'area_nohabit_median',
 'type_building',
 'total_area',
 'wall_materials',
 'emergency_exits',
 'age_mobilephone_days',
 'num_petic_bureau_hour',
 'num_petic_bureau_day',
 'num_petic_bureau_week',
 'num_petic_bureau_month',
 'num_petic_bureau_quarter',
 'num_petic_bureau_year']

In [10]:
data = data.drop(['Unnamed: 0','id','education','residence_type'], axis=1)

In [11]:
data.head(5)

,default,contract_type,gender,flag_vehicle,flag_properties,num_children,total_income,loan_amount,anual_payment,product_amount,...,total_area,wall_materials,emergency_exits,age_mobilephone_days,num_petic_bureau_hour,num_petic_bureau_day,num_petic_bureau_week,num_petic_bureau_month,num_petic_bureau_quarter,num_petic_bureau_year
0,1,personal loan,M,N,Y,0,202500,"406597,5","24700,5",351000,...,"0,0149",brick,N,-1134.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,personal loan,F,N,N,0,270000,"1293502,5","35698,5",1129500,...,"0,0714",concrete,N,-828.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,credit card,M,Y,Y,0,67500,135000,6750,135000,...,NaN,NaN,NaN,-815.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,personal loan,F,N,Y,0,135000,"312682,5","29686,5",297000,...,NaN,NaN,NaN,-617.0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,personal loan,M,N,Y,0,121500,513000,"21865,5",513000,...,NaN,NaN,NaN,-1106.0,0.0,0.0,0.0,0.0,0.0,0.0